@model Book

@{
    ViewData["Title"] = "Details";
}
<h1>@Model.Title</h1>
<table class="table">
    <tr>
        <td>@Html.DisplayNameFor(x => x.Author)</td>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Genre)</td>
        <td>@Model.Genre</td>5
    <tr>
        <td>@Html.DisplayNameFor(x => x.ProductionYear)</td>
        <td>@Model.ProductionYear</td>
    </tr>
    <tr>
        <td>@Html.HiddenFor(x=>x.Id)</td>
    </tr>
</table>
<div class="btn">@Html.ActionLink("Back", "Index", "Books", null, new { @class = "btn btn-primary" })</div>
<div class="btn">@Html.ActionLink("Edit", "Edit", "Books", new { id = Model.Id }, new { @class = "btn btn-warning" })</div>


